.env
*.env
.env.*

*.local

# Jetbrains
.idea

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.ionide

.vs/
*.code-workspace
.vscode-test
.vscodeignore
.vscode/chrome

.vscode-server/
.vscode/sftp.json
.vscode/tags
.devcontainer/